@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  src: url(data:font/ttf;base64,ZXhwb3J0IGRlZmF1bHQgX193ZWJwYWNrX3B1YmxpY19wYXRoX18gKyAic3RhdGljL0ludGVyLVZhcmlhYmxlRm9udF9vcHN6LHdnaHQudHRmIjs=)
    format("ttf-variations");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  src: url(data:font/ttf;base64,ZXhwb3J0IGRlZmF1bHQgX193ZWJwYWNrX3B1YmxpY19wYXRoX18gKyAic3RhdGljL0ludGVyLUl0YWxpYy1WYXJpYWJsZUZvbnRfb3Bzeix3Z2h0LnR0ZiI7)
    format("ttf-variations");
}

@font-face {
  font-family: Catalogue;
  font-style: normal;
  src: url(data:font/woff2;base64,ZXhwb3J0IGRlZmF1bHQgX193ZWJwYWNrX3B1YmxpY19wYXRoX18gKyAic3RhdGljL0NhdGFsb2d1ZS1Cb29rLXU0aDRkci53b2ZmMiI7)
    format("woff2");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
}
body, button, input, textarea {
    font-family: Inter, sans-serif !important;
}